#inputBox{
    height:30px;
    width:150px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    border: 7px solid white;
}

th,td{
    border: 2px solid black;
}

#resultNotFound{
    height:40px;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top:90px;
    background-color: red;
    border: 4px solid orangered;
    color :white;

}